DATABASE_DRIVER="postgres"
DATABASE_URL="postgres://localhost:5432/prac"
DATABASE_NAME = "prac"
DATABASE_USERNAME="prac"
DATABASE_PASSWORD="qwerty123"
DEBUG=*
LOGGER_TYPE="dev"

PGADMIN_DEFAULT_EMAIL="admin@admin.com"
PGADMIN_DEFAULT_PASSWORD="admin"

POSTGRES_USER="prac"
POSTGRES_PASSWORD="qwerty123"
POSTGRES_DB="prac"